In [19]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score

In [20]:
heart_data = pd.read_csv('heart.csv')

In [21]:
heart_data.head()

,age,sex,bp,pulset,height,weight,bmi,spo2,temp,resprate,wbc,plat,hb,hba1c,cho,target
0,55,1,111,78,167,53.00,19.003908,0.97,98.0,18,8600,4.40,13.2,6.3,171.00,0
1,48,1,144,68,176,87.00,28.086260,0.99,100.0,18,4800,2.99,7.1,5.9,241.00,1
2,38,1,176,97,165,65.34,24.000000,0.98,98.0,18,7500,1.98,10.6,5.7,121.92,1
3,72,1,176,78,173,76.00,25.393431,0.96,97.8,18,3800,1.09,11.5,8.0,47.31,1
4,72,0,162,86,136,45.00,24.329585,0.98,98.0,18,4800,3.10,12.1,6.1,225.00,1

In [22]:
heart_data.tail()

,age,sex,bp,pulset,height,weight,bmi,spo2,temp,resprate,wbc,plat,hb,hba1c,cho,target
69,68,1,123,38,174,72.90,24.078478,0.98,98.0,20,7100,2.25,14.8,6.3,193.0,0
70,38,1,149,72,165,65.34,24.000000,0.98,98.0,18,11200,3.93,12.9,5.7,96.6,1
71,58,1,170,68,165,57.00,20.936639,0.93,98.0,15,6900,2.11,11.5,6.1,101.0,1
72,76,0,166,65,165,65.34,24.000000,0.96,100.0,15,6600,1.09,11.8,8.8,163.9,1
73,68,1,174,56,161,74.00,28.548281,0.94,98.0,20,8800,3.10,13.2,6.3,287.0,1

In [23]:
heart_data.shape

(74, 16)

In [24]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       74 non-null     int64
 1   sex       74 non-null     int64
 2   bp        74 non-null     int64
 3   pulset    74 non-null     int64
 4   height    74 non-null     int64
 5   weight    74 non-null     float64
 6   bmi       74 non-null     float64
 7   spo2      74 non-null     float64
 8   temp      74 non-null     float64
 9   resprate  74 non-null     int64
 10  wbc       74 non-null     int64
 11  plat      74 non-null     float64
 12  hb        74 non-null     float64
 13  hba1c     74 non-null     float64
 14  cho       74 non-null     float64
 15  target    74 non-null     int64
dtypes: float64(8), int64(8)
memory usage: 9.4 KB

In [25]:
heart_data.isnull().sum()

age         0
sex         0
bp          0
pulset      0
height      0
weight      0
bmi         0
spo2        0
temp        0
resprate    0
wbc         0
plat        0
hb          0
hba1c       0
cho         0
target      0
dtype: int64

In [26]:
heart_data.describe()

,age,sex,bp,pulset,height,weight,bmi,spo2,temp,resprate,wbc,plat,hb,hba1c,cho,target
count,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.00000,74.000000,74.000000,74.000000,74.000000,74.000000
mean,59.148649,0.662162,141.689189,83.986486,161.540541,69.098919,26.473792,0.961486,98.562162,20.405405,8500.00000,2.516757,12.244595,6.645946,193.927297,0.702703
std,14.173758,0.476201,23.294967,20.489552,8.722808,11.113364,3.847596,0.063950,1.186072,9.634298,3564.51307,0.893893,1.817279,0.960478,63.590256,0.460188
min,24.000000,0.000000,86.000000,38.000000,136.000000,39.000000,19.003908,0.560000,96.000000,15.000000,3800.00000,1.090000,7.100000,5.700000,47.310000,0.000000
25%,48.500000,0.000000,123.500000,72.000000,157.000000,65.000000,24.000000,0.960000,98.000000,18.000000,6125.00000,1.875000,11.050000,5.900000,150.500000,0.000000
50%,62.000000,1.000000,140.000000,80.000000,165.000000,69.800000,26.078972,0.980000,98.000000,18.000000,7900.00000,2.600000,12.100000,6.300000,193.500000,1.000000
75%,70.000000,1.000000,161.750000,90.000000,165.000000,74.750000,28.901910,0.990000,99.000000,20.000000,10350.00000,3.130000,13.500000,7.600000,248.750000,1.000000
max,84.000000,1.000000,190.000000,180.000000,179.000000,94.000000,37.105751,1.000000,102.800000,90.000000,23200.00000,4.400000,15.300000,8.800000,297.000000,1.000000

In [27]:
heart_data['target'].value_counts()

target
1    52
0    22
Name: count, dtype: int64

In [28]:
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']

In [29]:
print(X)

    age  sex   bp  pulset  height  weight        bmi  spo2   temp  resprate  \
0    55    1  111      78     167   53.00  19.003908  0.97   98.0        18
1    48    1  144      68     176   87.00  28.086260  0.99  100.0        18
2    38    1  176      97     165   65.34  24.000000  0.98   98.0        18
3    72    1  176      78     173   76.00  25.393431  0.96   97.8        18
4    72    0  162      86     136   45.00  24.329585  0.98   98.0        18
..  ...  ...  ...     ...     ...     ...        ...   ...    ...       ...
69   68    1  123      38     174   72.90  24.078478  0.98   98.0        20
70   38    1  149      72     165   65.34  24.000000  0.98   98.0        18
71   58    1  170      68     165   57.00  20.936639  0.93   98.0        15
72   76    0  166      65     165   65.34  24.000000  0.96  100.0        15
73   68    1  174      56     161   74.00  28.548281  0.94   98.0        20

      wbc  plat    hb  hba1c     cho
0    8600  4.40  13.2    6.3  171.00
1    4800  2.99   7.1    5.9  241.00
2    7500  1.98  10.6    5.7  121.92
3    3800  1.09  11.5    8.0   47.31
4    4800  3.10  12.1    6.1  225.00
..    ...   ...   ...    ...     ...
69   7100  2.25  14.8    6.3  193.00
70  11200  3.93  12.9    5.7   96.60
71   6900  2.11  11.5    6.1  101.00
72   6600  1.09  11.8    8.8  163.90
73   8800  3.10  13.2    6.3  287.00

[74 rows x 15 columns]

In [30]:
print(Y)

0     0
1     1
2     1
3     1
4     1
     ..
69    0
70    1
71    1
72    1
73    1
Name: target, Length: 74, dtype: int64

In [31]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [32]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [33]:
print(X.shape, X_train.shape, X_test.shape)

(74, 15) (59, 15) (15, 15)

In [34]:
from sklearn.ensemble import HistGradientBoostingClassifier

model = HistGradientBoostingClassifier(max_iter=2000)

In [35]:
model.fit(X_train, Y_train)

HistGradientBoostingClassifier(max_iter=2000)

In [36]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [37]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  1.0

In [38]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [39]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  1.0

In [40]:
input_data = (55,1,111,78,167,53,19.00390835,0.97,98,18,8600,4.4,13.2,6.3,171)

In [41]:
input_data_as_numpy_array= np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
prediction = model.predict(input_data_reshaped)
print(prediction)
if (prediction[0]== 0):
    print('The Person does not have a Heart Disease')
else:
    print('The Person has Heart Disease')

[1]
The Person has Heart Disease